h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;

}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

div.race-results {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    text-align: center;
}
aside {
    padding: 20px;
    width: 90%; /* Adjust width as needed */
}

aside ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1%; /* Space between items */
    justify-content: center;
}

aside ul li {
    flex: 1;
}

aside ul li a {
    display: block;
    text-decoration: none;
    background-color: #007bff; /* Blue background */
    padding: 10px;
    text-align: center;
   
 
}

aside ul li a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
