h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;

}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

div.race-Results {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}